:root {
  --color-text-main: var(--color-gray-200);
  --color-text-subtle: var(--color-gray-400);
  --color-text-subtlest: var(--color-gray-500);
  --color-text-disabled: var(--color-gray-600);
  --color-text-inverse: var(--color-base-white);
  --color-text-link: var(--color-blue-400);
  --color-text-brand: var(--color-nb_blue-300);
  --color-text-information: var(--color-blue-400);
  --color-text-success: var(--color-teal-500);
  --color-text-warning: var(--color-orange-500);
  --color-text-danger: var(--color-red-500);
  --color-text-discovery: var(--color-purple-500);
  --color-text-selected: var(--color-blue-500);
  --color-elevation-surface: var(--color-base-black);
  --color-elevation-sunken: var(--color-gray-900);
  --color-elevation-surface-overlay: var(--color-base-black);
  --color-elevation-surface-raised: var(--color-gray-800);
  --color-background-brand-subtlest: var(--color-nb_blue-900);
  --color-background-brand-bold: var(--color-nb_blue-400);
  --color-background-brand-boldest: var(--color-nb_blue-50);
  --color-background-information: var(--color-blue-900);
  --color-background-information-bold: var(--color-blue-400);
  --color-background-success: var(--color-teal-900);
  --color-background-success-bold: var(--color-teal-500);
  --color-background-warning: var(--color-yellow-900);
  --color-background-warning-bold: var(--color-yellow-500);
  --color-background-danger: var(--color-red-900);
  --color-background-danger-bold: var(--color-red-500);
  --color-background-discovery: var(--color-purple-900);
  --color-background-discovery-bold: var(--color-purple-500);
  --color-background-selected: var(--color-gray-800);
  --color-background-selected-bold: var(--color-gray-700);
  --color-background-input: var(--color-base-black);
  --color-background-disabled: var(--color-gray-800);
  --color-background-neutral: var(--color-gray-900);
  --color-background-neutral-bold: var(--color-gray-600);
  --color-background-inverse-subtle: var(--opacity-white100);
  --color-icon-brand: var(--color-nb_blue-300);
  --color-icon-information: var(--color-blue-500);
  --color-icon-success: var(--color-teal-500);
  --color-icon-warning: var(--color-yellow-500);
  --color-icon-danger: var(--color-red-500);
  --color-icon-discovery: var(--color-purple-500);
  --color-icon-selected: var(--color-base-white);
  --color-icon-main: var(--color-gray-200);
  --color-icon-subtle: var(--color-gray-400);
  --color-icon-subtlest: var(--color-gray-500);
  --color-icon-disabled: var(--color-gray-600);
  --color-icon-inverse: var(--color-base-white);
  --color-border-brand: var(--color-nb_blue-400);
  --color-border-information: var(--color-blue-600);
  --color-border-success: var(--color-teal-600);
  --color-border-warning: var(--color-yellow-600);
  --color-border-danger: var(--color-red-600);
  --color-border-discovery: var(--color-purple-600);
  --color-border-selected: var(--color-base-white);
  --color-border-input: var(--color-gray-800);
  --color-border-disabled: var(--color-gray-900);
  --color-border-main: var(--color-gray-800);
  --color-border-bold: var(--color-gray-700);
  --color-border-inverse: var(--color-base-white);
  --color-chart-brand: var(--color-nb_blue-400);
  --color-chart-neutral: var(--color-gray-700);
  --color-chart-neutral-bold: var(--color-gray-500);
  --color-chart-success: var(--color-teal-500);
  --color-chart-success-bold: var(--color-teal-300);
  --color-chart-warning: var(--color-yellow-500);
  --color-chart-warning-bold: var(--color-yellow-300);
  --color-chart-danger: var(--color-red-500);
  --color-chart-danger-bold: var(--color-red-300);
  --color-chart-discovery: var(--color-purple-500);
  --color-chart-discovery-bold: var(--color-purple-300);
  --color-chart-information: var(--color-blue-600);
  --color-chart-information-bold: var(--color-blue-300);
  --color-interaction-hovered: var(--opacity-white50);
  --color-interaction-pressed: var(--opacity-black50);
  --color-etc-blanket: var(--opacity-black200);
  --color-etc-disabled: var(--opacity-black100);
  --color-etc-skeleton: var(--color-gray-800);
  --color-text-accent-gray: var(--color-gray-600);
  --color-text-accent-gray-bolder: var(--color-gray-200);
  --color-text-accent-blue: var(--color-blue-400);
  --color-text-accent-blue-bolder: var(--color-blue-200);
  --color-text-accent-teal: var(--color-teal-400);
  --color-text-accent-teal-bolder: var(--color-teal-200);
  --color-text-accent-green: var(--color-green-400);
  --color-text-accent-green-bolder: var(--color-green-200);
  --color-text-accent-yellow: var(--color-yellow-400);
  --color-text-accent-yellow-bolder: var(--color-yellow-200);
  --color-text-accent-orange: var(--color-orange-400);
  --color-text-accent-orange-bolder: var(--color-orange-200);
  --color-text-accent-red: var(--color-red-400);
  --color-text-accent-red-bolder: var(--color-red-200);
  --color-text-accent-fuchsia: var(--color-fuchsia-400);
  --color-text-accent-fuchsia-bolder: var(--color-fuchsia-200);
  --color-text-accent-lime: var(--color-lime-400);
  --color-text-accent-lime-bolder: var(--color-lime-200);
  --color-text-accent-purple: var(--color-purple-400);
  --color-text-accent-purple-bolder: var(--color-purple-200);
  --color-background-accent-gray-subtlest: var(--color-gray-800);
  --color-background-accent-gray-subtler: var(--color-gray-700);
  --color-background-accent-gray-subtle: var(--color-gray-600);
  --color-background-accent-gray-bolder: var(--color-gray-500);
  --color-background-accent-blue-subtlest: var(--color-blue-800);
  --color-background-accent-blue-subtler: var(--color-blue-700);
  --color-background-accent-blue-subtle: var(--color-blue-600);
  --color-background-accent-blue-bolder: var(--color-blue-500);
  --color-background-accent-teal-subtlest: var(--color-teal-800);
  --color-background-accent-teal-subtler: var(--color-teal-700);
  --color-background-accent-teal-subtle: var(--color-teal-600);
  --color-background-accent-teal-bolder: var(--color-teal-500);
  --color-background-accent-green-subtlest: var(--color-green-800);
  --color-background-accent-green-subtler: var(--color-green-700);
  --color-background-accent-green-subtle: var(--color-green-600);
  --color-background-accent-green-bolder: var(--color-green-500);
  --color-background-accent-yellow-subtlest: var(--color-yellow-800);
  --color-background-accent-yellow-subtler: var(--color-yellow-700);
  --color-background-accent-yellow-subtle: var(--color-yellow-600);
  --color-background-accent-yellow-bolder: var(--color-yellow-500);
  --color-background-accent-orange-subtlest: var(--color-orange-800);
  --color-background-accent-orange-subtler: var(--color-orange-700);
  --color-background-accent-orange-subtle: var(--color-orange-600);
  --color-background-accent-orange-bolder: var(--color-orange-500);
  --color-background-accent-red-subtlest: var(--color-red-800);
  --color-background-accent-red-subtler: var(--color-red-700);
  --color-background-accent-red-subtle: var(--color-red-600);
  --color-background-accent-red-bolder: var(--color-red-500);
  --color-background-accent-fuchsia-subtlest: var(--color-fuchsia-800);
  --color-background-accent-fuchsia-subtler: var(--color-fuchsia-700);
  --color-background-accent-fuchsia-subtle: var(--color-fuchsia-600);
  --color-background-accent-fuchsia-bolder: var(--color-fuchsia-500);
  --color-background-accent-lime-subtlest: var(--color-lime-800);
  --color-background-accent-lime-subtler: var(--color-lime-700);
  --color-background-accent-lime-subtle: var(--color-lime-600);
  --color-background-accent-lime-bolder: var(--color-lime-500);
  --color-background-accent-purple-subtlest: var(--color-purple-800);
  --color-background-accent-purple-subtler: var(--color-purple-700);
  --color-background-accent-purple-subtle: var(--color-purple-600);
  --color-background-accent-purple-bolder: var(--color-purple-500);
  --color-icon-accent-gray: var(--color-gray-500);
  --color-icon-accent-blue: var(--color-blue-500);
  --color-icon-accent-teal: var(--color-teal-500);
  --color-icon-accent-green: var(--color-green-500);
  --color-icon-accent-yellow: var(--color-yellow-500);
  --color-icon-accent-orange: var(--color-orange-400);
  --color-icon-accent-red: var(--color-red-500);
  --color-icon-accent-fuchsia: var(--color-fuchsia-500);
  --color-icon-accent-lime: var(--color-lime-500);
  --color-icon-accent-purple: var(--color-purple-500);
  --color-border-accent-gray: var(--color-gray-500);
  --color-border-accent-blue: var(--color-blue-500);
  --color-border-accent-teal: var(--color-teal-500);
  --color-border-accent-green: var(--color-green-500);
  --color-border-accent-yellow: var(--color-yellow-500);
  --color-border-accent-orange: var(--color-orange-400);
  --color-border-accent-red: var(--color-red-500);
  --color-border-accent-fuchsia: var(--color-fuchsia-500);
  --color-border-accent-lime: var(--color-lime-500);
  --color-border-accent-purple: var(--color-purple-500);
  --color-chart-accent-gray-bold: var(--color-gray-500);
  --color-chart-accent-gray-bolder: var(--color-gray-400);
  --color-chart-accent-gray-boldest: var(--color-gray-300);
  --color-chart-accent-green-bold: var(--color-green-500);
  --color-chart-accent-green-bolder: var(--color-green-400);
  --color-chart-accent-green-boldest: var(--color-green-300);
  --color-chart-accent-red-bold: var(--color-red-500);
  --color-chart-accent-red-bolder: var(--color-red-400);
  --color-chart-accent-red-boldest: var(--color-red-300);
  --color-chart-accent-blue-bold: var(--color-blue-500);
  --color-chart-accent-blue-bolder: var(--color-blue-400);
  --color-chart-accent-blue-boldest: var(--color-blue-300);
  --color-chart-accent-purple-bold: var(--color-purple-500);
  --color-chart-accent-purple-bolder: var(--color-purple-400);
  --color-chart-accent-purple-boldest: var(--color-purple-300);
  --color-chart-accent-teal-bold: var(--color-teal-500);
  --color-chart-accent-teal-bolder: var(--color-teal-400);
  --color-chart-accent-teal-boldest: var(--color-teal-300);
  --color-chart-accent-orange-bold: var(--color-orange-500);
  --color-chart-accent-orange-bolder: var(--color-orange-400);
  --color-chart-accent-orange-boldest: var(--color-orange-300);
  --color-chart-accent-yellow-bold: var(--color-yellow-500);
  --color-chart-accent-yellow-bolder: var(--color-yellow-400);
  --color-chart-accent-yellow-boldest: var(--color-yellow-300);
  --color-chart-accent-fuchsia-bold: var(--color-fuchsia-500);
  --color-chart-accent-fuchsia-bolder: var(--color-fuchsia-400);
  --color-chart-accent-fuchsia-boldest: var(--color-fuchsia-300);
  --color-chart-accent-lime-bold: var(--color-lime-500);
  --color-chart-accent-lime-bolder: var(--color-lime-400);
  --color-chart-accent-lime-boldest: var(--color-lime-300);
  --color-etc-footer: var(--opacity-black200);
}
